.profile-container
    .controls-container
        .close-profile
            button-component(data-output-click='closeProfile').rounded
                span.icon.icon-close_svg
        .label='Info'
        .additional-menu
            button-component(data-output-click='openAdditionalMenu').rounded
                span.icon.icon-more_svg
    .profile-panel
        .user
            .user-photo
                img(data-attr='src::photo')
            .name='[name]'
            .status(data-class='isOnline')='[lastSeen]'
            .info
                .item
                    .icons
                        span.icon.icon-info_svg
                    .data
                        .value='[bio]'
                        .property='Bio'
                .item
                    .icons
                        span.icon.icon-channel_svg
                    .data
                        .value='[username]'
                        .property='Username'
                .item
                    .icons
                        span.icon.icon-phone_svg
                    .data
                        .value='[phone]'
                        .property='Phone'
                .item
                    .icons
                        span.icon.icon-checkbox_svg
                    .data
                        .value='Notification'
                        .property='[isEnabledNotification]'
        form
            .sharedType(data-class='sharedType')
                input(type='radio' id='media' value='media' name='sharedType' data-element-ref='tabs')
                label(for='media')='Media'

                input(type='radio' id='docs' value='docs' name='sharedType' data-element-ref='tabs')
                label(for='docs')='Docs'

                input(type='radio' id='links' value='links' name='sharedType' data-element-ref='tabs')
                label(for='links')='Links'

                input(type='radio' id='audio' value='audio' name='sharedType' data-element-ref='tabs')
                label(for='audio')='Audio'
            .shared
                div(data-for='shared').sharedImage
                    img(src='[src]')
                    .time='[time]'




